@charset "UTF-8";

.header-child {
  height: 50px;
  width: 45px;
  position: relative;
  min-height: 50px;
}
.uno-farm {
  margin: 0;
  height: 24px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.uno-farm-wrapper {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 20px 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 36px;
  color: #426b1f;
}
.div1 {
  position: relative;
  line-height: 130%;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.wrapper {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 0;
  box-sizing: border-box;
}
.div2 {
  position: relative;
  line-height: 130%;
  display: inline-block;
  text-shadow: 0.3px 0 0#000, 0 0.3px 0#000, -0.3px 0 0#000, 0-0.3px 0#000;
  min-width: 92px;
  white-space: nowrap;
}
.container {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 56px 0 0;
  box-sizing: border-box;
}
.frame {
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 56px 0 0;
  box-sizing: border-box;
}
.frame-div {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 55px 0 0;
  box-sizing: border-box;
}
.wrapper1 {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 57px 0 0;
  box-sizing: border-box;
}

.wrapper2 {
  width: 154px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 54px 0 0;
  box-sizing: border-box;
  font-size: 20px;
  color: #426b1f;
}

.wrapper3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.account-icon {
  width: 30px;
  height: 30px;
  position: relative;
  object-fit: cover;
}
.account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 5px 0 0;
}
.div8,
.div9 {
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
}
.div9 {
  min-width: 87px;
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  font-size: 15px;
  color: #141414;
}
.header-inner,
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.header-inner {
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 30px 0 0;
  font-size: 20px;
  color: #426b1f;
}
.vector-icon {
  width: 20px;
  height: 19px;
  position: relative;
}
.header,
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21px 0 0;
}
.header {
  align-self: stretch;
  background-color: #fbf6ef;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-direction: row;
  padding: 27px 39px 35px 43px;
  box-sizing: border-box;
  gap: 0px;
  top: 0;
  z-index: 99;
  position: sticky;
  width: 100%;
  text-align: center;
  font-size: 19px;
  color: #000;
  font-family: Newsreader;
}
.videoda {
  height: 648px;
  width: 1152px;
  position: relative;
  
}
.children {
	position: absolute; /* 부모 div 내에서의 위치를 설정하기 위해 절대적 위치 지정 */
    
	width: 1920px;
    height: 1080px;
    border: 0;
	transform: scale(0.6);
	transform-origin: top left;
}
.component-3-icon {
  height: 96px;
  width: 96px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.monitorvideo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.h3,
.xxx {
  position: relative;
}
.h3 {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 110px;
}
.xxx {
  align-self: stretch;
  font-size: 16px;
  line-height: 150%;
  color: #6d6d6d;
}
.div10,
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  width: 244px;
  gap: 6px;
}
.div10 {
  flex: 1;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 24px 25px 45px 26px;
  box-sizing: border-box;
  gap: 26px;
  min-width: 783px;
  max-width: 100%;
}
.div11 {
  position: relative;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  font-family: Inter;
  color: #282a3a;
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.list-chip {
  cursor: pointer;
  border: 0;
  padding: 5.5px 14px 4.5px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-chip:hover {
  background-color: #dedede;
}
.div12 {
  width: 250px;
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  margin: 0 auto;
}
.list-chip-parent,
.list-chip1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.list-chip1 {
  justify-content: flex-start;
  width: 350px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 5px 25px 5px;
}
.list-chip-parent {
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
.h31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 107px;
  white-space: nowrap;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
}
.list-chip-icon {
  position: absolute;
  top: 12px;
  left: 7.5px;
  height: 30px;
  width: 40px;
  overflow: hidden;
  z-index: 1;
}

.trash-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
}

.list-chip2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f8f8f8;
  height: 55px;
  flex: 1;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.navbar,
.wrapper-list-chip-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}
.wrapper-list-chip-parent {
  height: 55px;
  width: 280px;
  justify-content: flex-start;
}
.navbar {
  align-self: stretch;
  border-radius: 10px 10px 0 0;
  background-color: rgba(218, 218, 218, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  justify-content: space-between;
  padding: 11px 25px 14px 18px;
  z-index: 1;
}
.frame-child {
  height: 716px;
  width: 564px;
  position: relative;
  border-radius: 0 0 20px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.no {
  align-self: stretch;
  height: 40px;
  position: relative;
  font-weight: 500;
  text-align: left;
  flex-shrink: 0;
  z-index: 1;
}
.b,
.b1,
.no {
  display: inline-block;
}
.b {
  height: 40px;
  flex: 1;
  position: relative;
  z-index: 1;
}
.b1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -2px;
  left: 0;
  color: #282a3a;
  z-index: 2;
}
.b2,
.b3,
.b4,
.parent2 {
  width: 23px;
  position: relative;
}
.parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fefefe;
}
.b2,
.b3,
.b4 {
  height: 40px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.no-parent {
  width: 72.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
  text-align: center;
}
.div13 {
  height: 40px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 14px;
}
.bird1 {
  margin: 0;
}
.bird {
  margin-top: -2px;
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.bird-wrapper {
  width: 104.8px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.car-person,
.dogbird,
.person {
  height: 40px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.car-person,
.person {
  align-self: stretch;
  flex-shrink: 0;
}
.dogbird {
  flex: 1;
}
.dogbird-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
}
.car-person-parent,
.dogbird-wrapper,
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.car-person-parent {
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.frame-group,
.frame-wrapper {
  width: 107.8px;
  flex-direction: row;
  padding: 0 1px;
  box-sizing: border-box;
}
.frame-group {
  width: 146.8px;
  flex-direction: column;
  padding: 0 8.7px 0 0;
  gap: 2px;
}
.div14,
.div15 {
  height: 40px;
  width: 101.1px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.div15 {
  width: 70.8px;
}
.parent3 {
  width: 252.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.div16,
.div17,
.div18,
.div19 {
  align-self: stretch;
  height: 40px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.div17,
.div18,
.div19 {
  z-index: 1;
}
.parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.frame-item {
  height: 22.7px;
  width: 80px;
  position: relative;
  border-radius: 2px;
  background-color: rgba(40, 202, 65, 0.15);
  display: none;
}
.safe {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-inner,
.rectangle-group {
  border-radius: 2px;
  background-color: rgba(40, 202, 65, 0.15);
  z-index: 1;
}
.rectangle-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 5.1px 2.7px 5.9px;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 22.7px;
}
.safe1 {
  position: absolute;
  top: 2.7px;
  left: 5.4px;
  font-weight: 500;
  display: inline-block;
  width: 69.2px;
  height: 27.2px;
  z-index: 2;
}
.rectangle-container {
  align-self: stretch;
  height: 29.9px;
  position: relative;
}
.rectangle-div {
  height: 22.7px;
  width: 80px;
  position: relative;
  border-radius: 2px;
  background-color: rgba(244, 26, 12, 0.24);
  display: none;
}
.dangerous {
  height: 20px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.frame-wrapper3,
.group-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  flex: 1;
  border-radius: 2px;
  background-color: rgba(244, 26, 12, 0.24);
  padding: 3px 5.1px 0 5.9px;
  z-index: 1;
}
.frame-wrapper3 {
  align-self: stretch;
  padding: 0 0 6.9px;
  color: #c92929;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: rgba(40, 202, 65, 0.15);
  width: 80px;
  height: 22.7px;
  z-index: 1;
}
.safe2 {
  position: absolute;
  top: 2.7px;
  left: 5.4px;
  font-weight: 500;
  display: inline-block;
  width: 69.2px;
  height: 27.2px;
  z-index: 2;
}
.rectangle-parent1 {
  align-self: stretch;
  height: 29.9px;
  position: relative;
}
.frame-parent3 {
  align-self: stretch;
  gap: 14.1px;
}
.frame-parent2,
.frame-parent3,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  gap: 21.3px;
}
.frame-wrapper2 {
  width: 80px;
  padding: 1px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  color: #139026;
}
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent1 {
  flex: 1;
  justify-content: flex-start;
  gap: 2.1px;
}
.frame-wrapper1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 12.9px 0 0;
}
.frame-container {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.navbar-parent,
.rectangle-parent {
  align-self: stretch;
  align-items: flex-start;
}
.rectangle-parent {
  border-radius: 0 0 20px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 17px 18px;
  box-sizing: border-box;
  gap: 5.3px;
  height: 677px;
  max-width: 100%;
  font-size: 18px;
}
.navbar-parent {
  flex-direction: column;
  text-align: left;
  font-size: 28px;
  color: #282a3a;
}
.frame-parent,
.group,
.navbar-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 564px;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  min-width: 564px;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.group {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  text-align: left;
  font-size: 28px;
  color: #282a3a;
  font-family: Inter;
}
.div,
.inner {
  display: flex;
  box-sizing: border-box;
}
.inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 40px 0 40px;
  max-width: 100%;
}
.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 53px;
  gap: 37px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .frame-parent {
    flex: 1;
  }
  .group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .header {
    padding-left: 21px;
  }
  .div10,
  .header,
  .inner {
    box-sizing: border-box;
  }
  .div10 {
    padding-top: 20px;
    padding-bottom: 29px;
    min-width: 100%;
  }
  .inner {
    padding-left: 26px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 825px) {
  .unsplashsj4m-cwugb0-parent {
    padding-top: 202px;
    padding-bottom: 201px;
    box-sizing: border-box;
  }
  .navbar,
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .frame-parent {
    min-width: 100%;
  }
  .group {
    gap: 24px;
  }
  .div {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: 22px;
    line-height: 29px;
  }
  .div10 {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .div11,
  .div12 {
    font-size: 16px;
    line-height: 21px;
  }
  .list-chip-parent {
    flex-wrap: wrap;
  }